
/*Color*/

:root {
  --color-black: #000;
  --color-bg: #F5F5F5;
  --color-light: #F8F8F8;
  --color-orange: #FFB13C;
  --color-form-text: #999999;
  --color-red: #D50C0C;
  --color-white: #fff;
  --color-outline-des: #CECECE;
}

